@import './variables';

body {
  background-color: #eff5ff;
  color: #002966;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: #997eed;
  border: 0;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  margin: 0.2rem 0.2rem 0.2rem 0;

  @media screen and (min-width: $breakpoint-md) {
    background-color: #b7becc;
    transition: background-color 0.1s;

    &:hover {
      background-color: #eb557a;
    }
  }
}

.error {
  background-color: #ffeaef;
  border-radius: 19px;
  color: #eb557a;
  font-size: 12px;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.logged-in {
  background-color: #ffeaef;
  border-radius: 19px;
  color: #eb557a;
  font-size: 12px;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0.5rem;
}

input {
  padding: 0.3rem 0.5rem;
  margin: 0 0.2rem 0 0;
}