@import '../variables';

.landing-gate {
  background-color: #ffffff;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  margin: 0 auto 0;
  padding: 3rem 2.5rem;
  width: 100%;

  @media screen and (min-width: $breakpoint-md) {
    border-radius: 10px;
    margin: 2rem auto 0;
    width: 500px;
  }
}

.logo {
  background-color: white;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  overflow: visible;
  position: relative;
  width: 100%;

  &__image {
    height: 80px;
    padding: 1.5rem;
    width: 100px;
  }
}

.notes-app {
  background-color: #fff;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  margin: 0 auto 0;
  min-height: 600px;
  overflow: hidden;
  width: 100%;

  &__sidebar {
    background-color: #FAFCFF;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow-wrap: anywhere;
    padding: 2rem 1.5rem;
    width: 100%;
  }

  &__main {
    flex-grow: 1;
    overflow-wrap: anywhere;
    padding: 2rem 1.5rem;
  }

  @media screen and (min-width: $breakpoint-md) {
    flex-flow: row;

    &__sidebar {
      width: 300px;
    }

    &__main {
      padding: 2rem 3.5rem;
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    border-radius: 10px;
    margin: 2rem auto 0;
    width: 1200px;
  }
}