@import '../variables';

.sidebar {
  &__container {
    list-style-type: none;
    max-height: 200px;
    overflow: auto;
    padding-left: 0;
  }

  &__item {
    align-items: center;
    background-color: #eff5ff;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 0 0.5rem;
    width: 100%;

    &--1 {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--2, &--3 {
      flex-shrink: 0;
    }
  }

  @media screen and (min-width: $breakpoint-md) {
    &__container {
      max-height: 400px;
    }
  }
}